
  h1 {
    color: #66BFBF;
    font-family: Arial, Helvetica, sans-serif;
  }
  h3 {
    color: #66BFBF;
    font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-color: #F8F1F1;
    font-family: Garamond, Georgia, serif;
  }

  hr {
    border-color: #D4E2D4;
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
  }
 
